<ion-view view-title="Note Share">
    <ion-content>
        <ion-content class="has-header">
            <div class="text-content padding-horizontal">
                <div class="text-demo">
                    <h1>Header 1</h1>
                    <h2>Header 2</h2>
                    <h3>Header 3</h3>
                    <h4>Header 4</h4>
                    <h5>Header 5</h5>
                    <h6>Header 6</h6>
                    <h3 style="text-align: center">This is demo note</h3>
                    <div>You can add <b>bold </b><i>italic </i><u>underline.</u></div>
                    <div>
                        <ol>
                            <li><u>Apple</u></li>
                            <li><u>Grapes</u></li>
                            <li><u>Mango</u></li>
                            <li><u>Banana</u></li>
                        </ol>
                        <div><u><br></u></div>
                        <div style="text-align: left;"><u>This is left align.</u></div>
                        <div style="text-align: left;"><u><br></u></div>
                        <div style="text-align: center;"><u>This is center align.</u></div>
                        <div style="text-align: center;"><u><br></u></div>
                        <div style="text-align: right;"><u>This is right align.</u></div>
                    </div>
                    <div style="text-align: right;"><u><br></u></div>
                    <div style="text-align: left;">
                        <ul>
                            <li><u>Cricket</u></li>
                            <li><u>Baseball</u></li>
                            <li><u>Footbal</u></li>
                            <li><u>Hockey</u></li>
                            <li><u>Swimming</u></li>
                        </ul>
                    </div>
                   <div class="list img">

  <ion-checkbox ng-model="filter.blue">Red</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Yellow</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>

</div>
                </div>
                <div class="img">
                    <img src="http://104.197.122.116/user/getmedia?file=IMG_566bff8ee2193323436a5ef8_1450506771603_2261.jpg" class="full-image">
                </div>
                <div class="list card">

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#" >
                            <i class="icon ion-ios-play"></i> Play
                        </a>
                        <a class="tab-item" href="#" >
                            <i class="icon ion-android-checkbox-blank"></i> Stop
                        </a>
                    </div>

                </div>


            </div>
        </ion-content>
    </ion-content>
</ion-view>
